In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
Data_Set = pd.read_csv('/content/drive/MyDrive/SQL_Pthon/kc_house_data_NaN.csv')

In [53]:
Data_Set.head(100)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1483300570,20140908T000000,905000.0,4.0,2.50,3300,10250,1.0,0,...,7,2390,910,1946,1991,98040,47.5873,-122.249,1950,6045
96,96,3422049190,20150330T000000,247500.0,3.0,1.75,1960,15681,1.0,0,...,7,1960,0,1967,0,98032,47.3576,-122.277,1750,15616
97,97,1099611230,20140912T000000,199000.0,4.0,1.50,1160,6400,1.0,0,...,7,1160,0,1975,0,98023,47.3036,-122.378,1160,6400
98,98,722079104,20140711T000000,314000.0,3.0,1.75,1810,41800,1.0,0,...,7,1210,600,1980,0,98038,47.4109,-121.958,1650,135036
99,99,7338200240,20140516T000000,437500.0,3.0,2.50,2320,36847,2.0,0,...,9,2320,0,1992,0,98045,47.4838,-121.714,2550,35065

In [54]:
# Drop the columns "id" and "Unnamed: 0" from axis 1 using the method drop(), then use the method describe() to obtain a statistical summary of the data. Make sure the inplace parameter is set to True.

Data_Set.drop(['id', 'Unnamed: 0'], axis=1, inplace=True)
Data_Set.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21600.000000,21603.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.372870,2.115736,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,3.671272e+05,0.926657,0.768996,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,7.500000e+04,1.000000,0.500000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [55]:
Data_Set.isna().sum()

date              0
price             0
bedrooms         13
bathrooms        10
sqft_living       0
sqft_lot          0
floors            0
waterfront        0
view              0
condition         0
grade             0
sqft_above        0
sqft_basement     0
yr_built          0
yr_renovated      0
zipcode           0
lat               0
long              0
sqft_living15     0
sqft_lot15        0
dtype: int64

In [56]:
mean=Data_Set['bedrooms'].mean()
Data_Set['bedrooms'].replace(np.nan,mean, inplace=True)

<ipython-input-56-879861909>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Data_Set['bedrooms'].replace(np.nan,mean, inplace=True)

In [57]:
mean = Data_Set['bathrooms'].mean()
Data_Set['bathrooms'].replace(np.nan, mean, inplace=True)

<ipython-input-57-3579050553>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Data_Set['bathrooms'].replace(np.nan, mean, inplace=True)

In [58]:
# prompt: set data type for bedrooms , floors and bathrooms sa int

Data_Set[['bedrooms', 'bathrooms', 'floors']] = Data_Set[['bedrooms', 'bathrooms','floors']].astype(int)

In [59]:
# date column as date type
Data_Set['date'] = pd.to_datetime(Data_Set['date'])

In [60]:
Data_Set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  int64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  int64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(16)
memory usage: 3.3 MB

In [61]:
#We can use the Pandas method corr() to find the feature other than price that is most correlated with price.
df_numeric = Data_Set.select_dtypes(include=[np.number])
df_numeric.corr()['price'].sort_values()

zipcode         -0.053203
long             0.021626
condition        0.036362
yr_built         0.054012
sqft_lot15       0.082447
sqft_lot         0.089661
yr_renovated     0.126434
floors           0.237211
waterfront       0.266369
lat              0.307003
bedrooms         0.308868
sqft_basement    0.323816
view             0.397293
bathrooms        0.510413
sqft_living15    0.585379
sqft_above       0.605567
grade            0.667434
sqft_living      0.702035
price            1.000000
Name: price, dtype: float64

In [62]:
# prompt: Drop columns: lat , long ,zipcode

Data_Set.drop(['lat', 'long', 'zipcode'], axis=1, inplace=True)

In [63]:
Data_Set.head(10)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014-10-13,221900.0,3,1,1180,5650,1,0,0,3,7,1180,0,1955,0,1340,5650
1,2014-12-09,538000.0,3,2,2570,7242,2,0,0,3,7,2170,400,1951,1991,1690,7639
2,2015-02-25,180000.0,2,1,770,10000,1,0,0,3,6,770,0,1933,0,2720,8062
3,2014-12-09,604000.0,4,3,1960,5000,1,0,0,5,7,1050,910,1965,0,1360,5000
4,2015-02-18,510000.0,3,2,1680,8080,1,0,0,3,8,1680,0,1987,0,1800,7503
5,2014-05-12,1225000.0,4,4,5420,101930,1,0,0,3,11,3890,1530,2001,0,4760,101930
6,2014-06-27,257500.0,3,2,1715,6819,2,0,0,3,7,1715,0,1995,0,2238,6819
7,2015-01-15,291850.0,3,1,1060,9711,1,0,0,3,7,1060,0,1963,0,1650,9711
8,2015-04-15,229500.0,3,1,1780,7470,1,0,0,3,7,1050,730,1960,0,1780,8113
9,2015-03-12,323000.0,3,2,1890,6560,2,0,0,3,7,1890,0,2003,0,2390,7570

In [64]:
#  Drop duplicated rows
Data_Set.drop_duplicates(inplace=True)

In [65]:
#unique value in water front column

Data_Set['waterfront'].unique()

array([0, 1])

In [66]:
# prompt: if waterfront = 0 repalce it with 'no waterfront'
# else replace with has 'waterfront'

Data_Set['waterfront'] = Data_Set['waterfront'].apply(lambda x: 'no waterfront' if x == 0 else 'has waterfront')
print(Data_Set['waterfront'].value_counts())

waterfront
no waterfront     21450
has waterfront      163
Name: count, dtype: int64

In [67]:
Data_Set.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014-10-13,221900.0,3,1,1180,5650,1,no waterfront,0,3,7,1180,0,1955,0,1340,5650
1,2014-12-09,538000.0,3,2,2570,7242,2,no waterfront,0,3,7,2170,400,1951,1991,1690,7639
2,2015-02-25,180000.0,2,1,770,10000,1,no waterfront,0,3,6,770,0,1933,0,2720,8062
3,2014-12-09,604000.0,4,3,1960,5000,1,no waterfront,0,5,7,1050,910,1965,0,1360,5000
4,2015-02-18,510000.0,3,2,1680,8080,1,no waterfront,0,3,8,1680,0,1987,0,1800,7503

In [68]:
# prompt: change unite sqft(square feet) to square meter for all columns start with sqft and rename this columns

# Define the conversion factor from square feet to square meters
sqft_to_sqm = 0.092903

# Iterate through columns that start with 'sqft'
for col in Data_Set.columns:
  if col.startswith('sqft'):
    # Convert sqft values to square meters
    Data_Set[col] = Data_Set[col] * sqft_to_sqm
    # Rename the column to indicate it's now in square meters
    new_col_name = col.replace('sqft', 'sqm')
    Data_Set.rename(columns={col: new_col_name}, inplace=True)

In [69]:
# prompt:  columns starts with('sqm') change type to int

# Iterate through columns that start with 'sqm' and change their type to int
for col in Data_Set.columns:
  if col.startswith('sqm'):
    Data_Set[col] = Data_Set[col].astype(int)

Data_Set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          21613 non-null  datetime64[ns]
 1   price         21613 non-null  float64
 2   bedrooms      21613 non-null  int64
 3   bathrooms     21613 non-null  int64
 4   sqm_living    21613 non-null  int64
 5   sqm_lot       21613 non-null  int64
 6   floors        21613 non-null  int64
 7   waterfront    21613 non-null  object
 8   view          21613 non-null  int64
 9   condition     21613 non-null  int64
 10  grade         21613 non-null  int64
 11  sqm_above     21613 non-null  int64
 12  sqm_basement  21613 non-null  int64
 13  yr_built      21613 non-null  int64
 14  yr_renovated  21613 non-null  int64
 15  sqm_living15  21613 non-null  int64
 16  sqm_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(14), object(1)
memory usage: 2.8+ MB

In [70]:
Data_Set.head()

,date,price,bedrooms,bathrooms,sqm_living,sqm_lot,floors,waterfront,view,condition,grade,sqm_above,sqm_basement,yr_built,yr_renovated,sqm_living15,sqm_lot15
0,2014-10-13,221900.0,3,1,109,524,1,no waterfront,0,3,7,109,0,1955,0,124,524
1,2014-12-09,538000.0,3,2,238,672,2,no waterfront,0,3,7,201,37,1951,1991,157,709
2,2015-02-25,180000.0,2,1,71,929,1,no waterfront,0,3,6,71,0,1933,0,252,748
3,2014-12-09,604000.0,4,3,182,464,1,no waterfront,0,5,7,97,84,1965,0,126,464
4,2015-02-18,510000.0,3,2,156,750,1,no waterfront,0,3,8,156,0,1987,0,167,697

In [71]:
# prompt: Creat ID column Start by 1 and its datatype is object

# Create an 'ID' column starting from 1 and with object datatype
Data_Set.insert(0, 'ID', range(1, 1 + len(Data_Set)))
Data_Set['ID'] = Data_Set['ID'].astype(object)

# Display the first few rows to verify
Data_Set.head()

# Display the info to verify the datatype
Data_Set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            21613 non-null  object
 1   date          21613 non-null  datetime64[ns]
 2   price         21613 non-null  float64
 3   bedrooms      21613 non-null  int64
 4   bathrooms     21613 non-null  int64
 5   sqm_living    21613 non-null  int64
 6   sqm_lot       21613 non-null  int64
 7   floors        21613 non-null  int64
 8   waterfront    21613 non-null  object
 9   view          21613 non-null  int64
 10  condition     21613 non-null  int64
 11  grade         21613 non-null  int64
 12  sqm_above     21613 non-null  int64
 13  sqm_basement  21613 non-null  int64
 14  yr_built      21613 non-null  int64
 15  yr_renovated  21613 non-null  int64
 16  sqm_living15  21613 non-null  int64
 17  sqm_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(14), object(2)
memory usage: 3.0+ MB

In [74]:
# prompt: import this Data_Set as CSV file to MyDrive

Data_Set.to_csv('/content/drive/MyDrive/processed_kc_house_data.csv', index=False)